.landing {
  &__hero-wrapper {
    display: flex;
    background-color: $color-blue-middle;
    background-image: url(/static/images/geometric_layer.png);
    background-size: cover;
  }
  &__container {
    @include make-container-width-max-width();

    &--50vh {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 50vh;
    }

    &--video {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      @include g-state(mobile tablet) {
        flex-direction: column;
      }
    }

    &--steps {
      padding: 0 1rem;
    }
  }

  &__social {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include g-state(mobile tablet) {
      margin-top: 4rem;
      position: static;
      width: 100%;
      flex-direction: row;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20%;

      @include g-state(mobile tablet) {
        height: auto;
        width: 25%;
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      fill: $color-blue-middle;
    }
  }

  &__section {
    padding: 4rem 0;

    &--white {
      position: relative;
      background: $color-white;
    }
    &--gray {
      background: $color-gray;
    }
  }

  &__video-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;

    &__play-button {
      transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
      fill: #04649F;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -2.5rem;
      margin-left:  -2.5rem;
      width: 5rem;
      height: 5rem;
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    max-width: 700px;

  }

  &__keep-informed {
    margin: 2rem 0;
    width: 100%;

    &__success {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: $color-blue-middle;
  }

  &__steps-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: $color-blue-middle;
    text-transform: uppercase;
  }

  &__steps-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin: 4rem 0 1rem;
    color: $color-blue-middle;
  }

  &__steps {
    margin-top: 3rem;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include g-state(mobile) {
      flex-direction: column;
    }

    &__item {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include g-state(mobile) {
        width: 100%;
      }
    }
  }

  &__step {

    &__icon {
      height: 4rem;
      width: 4rem;
      fill: $color-blue-middle;
    }

    &__text {
      color: $color-blue-middle;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  &__to-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-blue-middle;
    padding: 1rem;

    &__link {
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
    }

    &::after {
      content: "";
      z-index: 999;
      position: absolute;
      bottom: 0;
      margin-bottom: -30px;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid $color-blue-middle;
    }
  }
}
