@import '../../styles/mixins/make-container-max-width';
@import '../../styles/mixins/respond';

.data-protection {
  &__header {
    padding: 48px 16px;
    font-size: 48px;
    color: white;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    background: linear-gradient(90deg, #3797d2 35%, #04649f 100%);
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url(/static/icons/logo-white.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__body {
    background-color: #f8f8f8;
    padding: 48px 16px;

    @include respond-above(md) {
      padding: 96px 0;
    }

    &__container {
      @include make-container-max-width();

      &__title {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 24px;
        text-align: center;
        color: #666;

        font-size: 24px;
        line-height: 32px;
        letter-spacing: 4px;

        @include respond-above(md) {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: 6px;
        }
      }

      &__description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        color: #666;
      }
    }
  }
}
