.subscribed-users {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: 1px 1px 5px grey;
  transform: translate(0, 20vh);

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background-color: #f4f4f4;
    align-items: center;
  }

  &__body {
    max-height: 50vh;
    overflow-y: auto;

    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lightgrey;
      padding: 10px 5px;
      align-items: center;
    }

    &__item:nth-child(2n) {
      background-color: #f4f4f4;
    }

    &__no-data {
      padding: 10px 0;
      text-align: center;
    }
  }
}
