@import './respond';

@mixin make-container-max-width() {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respond-above(sm) {
    max-width: 720px;
  }

  @include respond-above(md) {
    max-width: 960px;
  }

  @include respond-above(lg) {
    max-width: 1140px;
  }
}
