.footer {
  &__logo {
    width: 250px;
    height: 75px;
    fill: $color-white;

    @include g-state(mobile) {
      margin-bottom: 1rem;
    }
  }
  &__container {
    @include make-container-width-max-width();
    padding: 0 1rem;

  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @include g-state(mobile) {
      justify-content:center;
      align-items: center;
    }
  }

  &__upper {
    padding: 1.5rem 0;
    background: $color-blue-middle;
  }
  &__lower {
    color: $color-blue-middle;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 0;
    background: $color-white;
  }

  &__data-protection {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    @include g-state(mobile) {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 0;
    }

    &:hover {
      color: #4183c4
    }

    &:nth-child(2) {
      margin-right: 2rem;
    }
  }

  &__email {
    color: $color-white;
    text-decoration: none;

    @include g-state(mobile) {
      margin-bottom: 1rem;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-bottom: -3px;
      margin-right: 0.8rem;
      height: 1rem;
      width: 1.2rem;
      background-image: url(/static/icons/mail.svg);
      background-position: left center;
      background-repeat: no-repeat;
    }
  }

  &__social {

    @include g-row();
    @include g-row-align ( center middle );
    &__item {
      @include g-grid(2);
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-white;
    }
  }
}
