.header {
  background: $color-blue-middle;

  &__content {
    @include make-container-width-max-width();
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;

    @include g-state(mobile tablet) {
      flex-direction: column;
    }

  }

  &__language {
    margin: 0;
    position: absolute;
    left: 1.5rem;
    height: calc(100% - 2rem);

    @include g-state(mobile tablet) {
      margin-top: 1rem;
      position: static;
      order: 2;
    }

    @include g-row();
    @include g-row-align (center middle);
    &__item {
      @include g-grid(3);
      background:none!important;
      color: $color-white;
      border:none;
      font: inherit;
      /*border is optional*/
      cursor: pointer;
      padding: 1rem;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {

    @include g-state(mobile) {
      width: 100%;
    }
    width: 300px;
    height: 100px;
    fill: $color-white;
  }

  &__social {
    position: absolute;
    right: 1.5rem;
    height: calc(100% - 2rem);

    @include g-state(mobile tablet) {
      margin-top: 1rem;
      position: static;
    }

    @include g-row();
    @include g-row-align ( center middle );
    &__item {
      @include g-grid(2);
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      height: 1.5rem;
      width: 1.5rem;
      fill: $color-white;
    }
  }
}
