.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-white;
  padding: 1rem;

  &__content{
    width: 100%;
  }

  &__title{
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 0.5rem;
  }

}
