
.input-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  margin-top: 1rem;
  flex: 1 1 100%;
  padding: 0.3rem 0.5rem;
  border: $color-white solid 1px;
  border-radius: 0;
  color: $color-white;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  box-sizing:content-box;
  max-width: 50%;
  font-family: 'Josefin Sans', sans-serif;

  &:focus{
    outline: none;
  }
  &::placeholder {
    color: $color-blue-lighten;
    font-style: italic;
  }

  &__error{
    color: $color-white;
    margin-top: 1rem;
  }

  &--footer{
    flex: 1 1;
    min-width: 150px;
    max-width: 250px;

    @include g-state(mobile) {
      max-width: 50%;
    }

  }

  background: transparent;
  margin-right: 0.5rem;

  &__button {
    margin-top: 1rem;
    background: $color-white;
    color: $color-blue-middle;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    overflow: visible;
    padding: 0.3rem 2.5rem;

    @include g-state(mobile) {
      padding: 0.3rem 1.5rem;
    }
    cursor: pointer;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
  }

}
