@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/coffeekraken-gridle/flex";

@mixin make-container-width-max-width() {
  max-width:960px;
  margin-right: auto;
  margin-left: auto;
}

// setting up the grid
@include g-setup( (
        context : 12,
        gutter-width :1rem,
        states-classes : true
) );

@include g-register-default-states();


@import "variables";

@import "components/header";
@import "components/footer";
@import "components/hero";
@import "components/input";

@import "routes/landing";
@import "routes/subscribed-users";

* {
  font-family: 'Open Sans', sans-serif;
}
